<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp0BFABD100B4065787B40AA6B05938DF7" Guid="{B3EA99E3-CFA8-4BE2-8384-FE1B34743328}">
                <File Id="fil1D38723F4A034EDE78B6A3B94EFB99F2" KeyPath="yes" Source="$(var.BasePath)\EntityFramework.dll" />
            </Component>
            <Component Id="cmpB8E7B130B6B78399B39307530A3D65B2" Guid="{36FD7F62-D6FC-428E-AD28-E87DF82DFF71}">
                <File Id="fil55247FAD2E00E96001D9F9C3E501E9FA" KeyPath="yes" Source="$(var.BasePath)\EntityFramework.SqlServer.dll" />
            </Component>
            <Component Id="cmp0FB966002F85AF6212B7AD3DB5E1B405" Guid="{5D83ABD1-C78D-445A-9CE4-967523E6C7D8}">
                <File Id="fil3CA52A37FA9A6E996CBB782A0218A667" KeyPath="yes" Source="$(var.BasePath)\EntityFramework.SqlServer.xml" />
            </Component>
            <Component Id="cmp6CF5CB56E3583D0EBD44D2BB10A62A27" Guid="{A678E9D2-F054-4747-9007-8799F62FFB0F}">
                <File Id="filD3369B082D009ADB833B8DD9F589E45E" KeyPath="yes" Source="$(var.BasePath)\EntityFramework.xml" />
            </Component>
            <Component Id="cmpB4A5CBF58E90C2BEEA430C866C5B5ABC" Guid="{685EA4AF-C4A7-4EDC-B7E9-032F8E210CBD}">
                <File Id="fil2BFA614BF84B587FE41B98F9D8E78E78" KeyPath="yes" Source="$(var.BasePath)\Export.dll" />
            </Component>
            <Component Id="cmp798C229BC500CCA9AF149379CBCD80AE" Guid="{0FAC982B-BD55-472B-B6A3-E0012CD02509}">
                <File Id="fil6AA83457F1CA143371BD583CC63DC4CC" KeyPath="yes" Source="$(var.BasePath)\Export.dll.config" />
            </Component>
            <Component Id="cmp0232052F22BF7CECF0AE2011DF5A46B3" Guid="{F251125E-B687-478B-A0F7-EA55CC39B1E8}">
                <File Id="filF309A465B9D33656E2C5947CF0011B85" KeyPath="yes" Source="$(var.BasePath)\Export.pdb" />
            </Component>
            <Component Id="cmp646930CA1885B8CA883A1241AEAC577D" Guid="{4ADA488E-0F61-4F6D-894C-EDFE0F102B8B}">
                <File Id="fil4ADAED9A0CBB907346337E2ED9D3DB57" KeyPath="yes" Source="$(var.BasePath)\ExportService.exe" />
            </Component>
            <Component Id="cmp0AD9E402E4A18E312CA414CD8DF3C456" Guid="{74074155-6165-4FB0-ACE4-B0797F256A80}">
                <File Id="fil8B529CE68CE98568FE0FDBABD19E7763" KeyPath="yes" Source="$(var.BasePath)\ExportService.exe.config" />
            </Component>
            <Component Id="cmpF9033FEAD01015013837266F1D9A8829" Guid="{1A4B2D10-6945-4191-8008-C016BDDC0839}">
                <File Id="fil2390EBF2563A30D1B4F8A96BB3D78F75" KeyPath="yes" Source="$(var.BasePath)\ExportService.pdb" />
            </Component>
            <Component Id="cmp20E5A82EE1F53BB560782568696E50EF" Guid="{C388DA89-A0E5-453D-AEA2-148FE9B6739B}">
                <File Id="fil2E537F5E44EFF72FBE1AF325D6F073A2" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Bcl.AsyncInterfaces.dll" />
            </Component>
            <Component Id="cmp7193E8625499A1E57AB8F6FB639AF77E" Guid="{965AC2BD-1CE1-4B93-B49C-F9378E0DDE7F}">
                <File Id="fil8ADF3549A0666A0BC8FAB94FCFB6061B" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Bcl.AsyncInterfaces.xml" />
            </Component>
            <Component Id="cmpDC19BA21EFF423B27F8787A2AB8F2B3C" Guid="{44FE2DCD-F24E-4B78-B23B-CDB31042AE48}">
                <File Id="filF6767F9D22B6D46DD3A2FC798B5F23DE" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmp04754E6B247B1DE3E945B1B46BD58909" Guid="{9A1B21C9-2E28-4B52-A5F7-C0B13FE49FEB}">
                <File Id="fil8132C512F29D25A5E7CDF4E5ACA41C18" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Abstractions.xml" />
            </Component>
            <Component Id="cmpC2B3CC4C105FBF588A9EBBD45742C349" Guid="{73910820-F791-464E-BDEC-13FCFD56176E}">
                <File Id="filE9F345539532616C2BEF86BE1CEB83E2" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmpFA73D1C72D56F21EECACF40A48113326" Guid="{C158F36E-9111-45EC-9D60-CD68671C1B05}">
                <File Id="filA89C605CA45049E53D44BB55F3952595" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.xml" />
            </Component>
            <Component Id="cmp946145B53A7DCDFA822B0EFD2314FAB6" Guid="{D3A8A057-D25E-49C4-A85C-63289B5F42A7}">
                <File Id="fil773F29942324AAB2A7E1977E1AC63609" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmpE6237F62F43D098EC6DC433850E77798" Guid="{30398643-95A6-49AE-A545-717B9FA1ABCF}">
                <File Id="fil2D2F84C20CE447323C6EE77E127DC0C0" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Primitives.xml" />
            </Component>
            <Component Id="cmp42CE9AE95732AA34478329FB9DE90B9C" Guid="{C5A6A0D8-4B15-4464-B0E9-8A1D797B07CF}">
                <File Id="filD7AACEE505C0A6D9F0953957C6B91C28" KeyPath="yes" Source="$(var.BasePath)\NLog.config" />
            </Component>
            <Component Id="cmpB7F1EBE42DCB1051B92D42C1EF84E2F9" Guid="{E4E69333-E95E-438B-96B0-741369B7D897}">
                <File Id="filA09ADF42C6343B9B7C7780D266455CC4" KeyPath="yes" Source="$(var.BasePath)\NLog.dll" />
            </Component>
            <Component Id="cmpAF162B14FA6391E4D0D34D9485A3CBEB" Guid="{C8D5A71B-FD07-4281-AAD2-2072A4BCD174}">
                <File Id="fil938BF1D1B479C73F0CECCBD51683AA0E" KeyPath="yes" Source="$(var.BasePath)\NLog.xml" />
            </Component>
            <Component Id="cmpAC2F6DB1E032C0CA24B3367FE667ED0A" Guid="{B7361165-B456-4AD8-B1EC-E8FA301225E1}">
                <File Id="fil2AF858CAFD0BB97FE9B6C4F53A166FB3" KeyPath="yes" Source="$(var.BasePath)\Oracle.ManagedDataAccess.dll" />
            </Component>
            <Component Id="cmpACD38C6BE6A7E3B6F715ACDFD873B613" Guid="{D9A30407-70CB-422D-A541-A6E5B7346BC9}">
                <File Id="filB249B98F964532314A101D0DC25DC855" KeyPath="yes" Source="$(var.BasePath)\Oracle.ManagedDataAccess.EntityFramework.dll" />
            </Component>
            <Component Id="cmpA5E215C9BBF1CAA9E046657ABBBDCC5D" Guid="{EDF74865-FA05-43E8-9EF9-6736D0962754}">
                <File Id="fil3AFA0D937FF90894A756CA4C2CF0DC38" KeyPath="yes" Source="$(var.BasePath)\Renci.SshNet.dll" />
            </Component>
            <Component Id="cmp1966D043A58A3F77508F609F750D13F3" Guid="{E689D12E-2222-4E60-A3C4-367B1A5452B0}">
                <File Id="filBD38600BDF204EDCFC6D4371C7F2456F" KeyPath="yes" Source="$(var.BasePath)\Renci.SshNet.xml" />
            </Component>
            <Component Id="cmpA748C45814948C0E47F0962CF5A9E2C5" Guid="{94DF0355-9FE2-40C3-A25E-400DE80AF6C1}">
                <File Id="filAF63FF48A59E0E5E7F49BFD1CBBB0CC3" KeyPath="yes" Source="$(var.BasePath)\System.Buffers.dll" />
            </Component>
            <Component Id="cmp43B367B7670D98D184AF521921EF1F06" Guid="{884A0185-0D2E-4CD7-941C-C2687138252C}">
                <File Id="fil847587E301997E5BCE3BEE66F570E914" KeyPath="yes" Source="$(var.BasePath)\System.Buffers.xml" />
            </Component>
            <Component Id="cmp89F5F904B3CAF843A281A5A84D668E1E" Guid="{A557BDDD-73F4-430C-B57F-C2BECA84BA01}">
                <File Id="fil7882FAF25832DB256D31EEFC7582E0FF" KeyPath="yes" Source="$(var.BasePath)\System.Configuration.ConfigurationManager.dll" />
            </Component>
            <Component Id="cmp8491F2481E2300963E07B506136E502E" Guid="{1B4DAD1D-4CD0-4A7A-AD6B-E130A32F55A9}">
                <File Id="fil93B744BA9905DC6679EF4BFB2FDAB8FD" KeyPath="yes" Source="$(var.BasePath)\System.Configuration.ConfigurationManager.xml" />
            </Component>
            <Component Id="cmp642ED5B0D0BD1F16347D1310992C55A0" Guid="{F4140EFE-A0E9-4271-9DE0-AD545B8FDA22}">
                <File Id="filFA1D7EC932018D1CCB80F9F43D328009" KeyPath="yes" Source="$(var.BasePath)\System.Memory.dll" />
            </Component>
            <Component Id="cmpCA76CA3139BC1AFF84F4D7B62A0A2E50" Guid="{015B7038-38A7-4E4F-94D5-02A21BAB5CE5}">
                <File Id="fil15AAA59830C5BBED182F2B20C24EED09" KeyPath="yes" Source="$(var.BasePath)\System.Memory.xml" />
            </Component>
            <Component Id="cmp89AE5ECEB789ECF60BE6CC568D60B2F9" Guid="{00B1AF69-6D5D-4B64-A27B-B7F28DC8BE54}">
                <File Id="fil07CC506FCE6F39AF87379627460A5FFB" KeyPath="yes" Source="$(var.BasePath)\System.Numerics.Vectors.dll" />
            </Component>
            <Component Id="cmp7F4E1743772CD37619404A9AC36DC178" Guid="{0F150914-4F54-4A0B-BFA9-AE049D7703A7}">
                <File Id="fil38F381E638DECC1D77506EC6574A8C81" KeyPath="yes" Source="$(var.BasePath)\System.Numerics.Vectors.xml" />
            </Component>
            <Component Id="cmpAFCF21A15F6EDA45A32D147050609285" Guid="{A5F9EEF2-4129-4734-A088-CF75031FE56B}">
                <File Id="filAE286E96EA00902BC284AEBF3030D6E4" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmpC91BFEFF501F5C69C8F325CE32921C40" Guid="{22B32BE3-AAC3-48DB-B51A-E216570E79E0}">
                <File Id="filB829C3862F1FEA164719D0F8015AAD50" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.CompilerServices.Unsafe.xml" />
            </Component>
            <Component Id="cmpA79A142FCEA412B1ABBD7BE954692F65" Guid="{BEE44077-9231-4AA9-9740-445821C6B0A9}">
                <File Id="fil0B3269E73A503751E3461F1BA6DEB094" KeyPath="yes" Source="$(var.BasePath)\System.Security.AccessControl.dll" />
            </Component>
            <Component Id="cmp08DDB4220E781B2C4E9BDB935987807A" Guid="{30818209-59F8-4282-8FF9-CEC675A1C4F1}">
                <File Id="filB86A6BCA4CE0DBE9AF06F75114065AF6" KeyPath="yes" Source="$(var.BasePath)\System.Security.AccessControl.xml" />
            </Component>
            <Component Id="cmp5CC6136D6E2A90DE115411181360DDDC" Guid="{D19F8C3C-6D19-40D9-9199-0C8DC4A6B140}">
                <File Id="fil207371132F5873BD864FD57447824213" KeyPath="yes" Source="$(var.BasePath)\System.Security.Permissions.dll" />
            </Component>
            <Component Id="cmp09B1A6FC9DA6731B677129F755BF5DC8" Guid="{D45DE5F8-B40D-4427-AC5B-333C024D6739}">
                <File Id="fil00D61B74B658373F4EC1D7AD19C4E963" KeyPath="yes" Source="$(var.BasePath)\System.Security.Permissions.xml" />
            </Component>
            <Component Id="cmp98A131703008D3AC809721FE16EEAFF8" Guid="{0556B69B-99FE-472F-9A52-8AE35F0BE0F6}">
                <File Id="fil50D3CD433FCD76F25C71E81C31B6DD3A" KeyPath="yes" Source="$(var.BasePath)\System.Security.Principal.Windows.dll" />
            </Component>
            <Component Id="cmp07C0EAF40E0F1DFA3B90970ACEA4FAA2" Guid="{EF7E196C-CE1F-42EC-AFEF-1A874B592F8A}">
                <File Id="filA368DFC88A4C4DAE9F1558A0A365F86E" KeyPath="yes" Source="$(var.BasePath)\System.Security.Principal.Windows.xml" />
            </Component>
            <Component Id="cmpB8A7E5BEDFB4B8D0CC7AF759CF02E85C" Guid="{C2A893B7-9F9D-418E-B0A5-94F4FC7F2668}">
                <File Id="filA40308264694C0D9CFCDD77B25AB3F6A" KeyPath="yes" Source="$(var.BasePath)\System.Text.Encodings.Web.dll" />
            </Component>
            <Component Id="cmp788DA13C82090758458820A71F74702B" Guid="{028AD895-1A0B-4990-B43F-8D298AE53486}">
                <File Id="fil12A180C38B67AE6EE755FCE48652D1F3" KeyPath="yes" Source="$(var.BasePath)\System.Text.Encodings.Web.xml" />
            </Component>
            <Component Id="cmpA5817A2BB296EF3C39CAFA8A07CD6B59" Guid="{9599B65D-2CBD-4D26-89F2-276CE5483EDC}">
                <File Id="fil1FBF587862F484BB82A1D65565F935B6" KeyPath="yes" Source="$(var.BasePath)\System.Text.Json.dll" />
            </Component>
            <Component Id="cmpFF0F41562004EA077A4B84271D0ACCB7" Guid="{2008C2B4-B456-4D0C-9E3A-25A6BAD781D2}">
                <File Id="filBA07E7F34EF80834B3BB1C8EC62638EB" KeyPath="yes" Source="$(var.BasePath)\System.Text.Json.xml" />
            </Component>
            <Component Id="cmpB3AE432D48BF3A5AB43C6DAF12AB454A" Guid="{E34887DD-2237-49A5-88A7-EFB71174999C}">
                <File Id="filF7CF33617C2B93F6EEF50C0DEB533B07" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Tasks.Extensions.dll" />
            </Component>
            <Component Id="cmp6D1BF809CBAFF13493F3C31E9CCBBD48" Guid="{66A86301-A9CB-4E7C-BEB3-7E11761D3AFD}">
                <File Id="fil5DCD112CC1157C7EB5EC973F77EBA411" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Tasks.Extensions.xml" />
            </Component>
            <Component Id="cmp3A99A623A71A716A198559E0C9D59400" Guid="{7CF62BDC-7739-4360-A9C9-14CCA94AEAB9}">
                <File Id="filE6242AE03AF2509440ADF395C76688A4" KeyPath="yes" Source="$(var.BasePath)\System.ValueTuple.dll" />
            </Component>
            <Component Id="cmp3675421429B9A0E934C7B2D939AAF6EE" Guid="{571450D5-FBF1-4757-8A3C-B40B4EAEE161}">
                <File Id="filE33AE821547C33AB8A923BE4FFE628A7" KeyPath="yes" Source="$(var.BasePath)\System.ValueTuple.xml" />
            </Component>
            <Component Id="cmpBEC715782490BD2AC6E2C93F2525865F" Guid="{5B56B60E-D93D-49B4-83E3-92B402743F44}">
                <File Id="filF7E6EF61D1437B4669D7DE7C4066BD7E" KeyPath="yes" Source="$(var.BasePath)\Unity.Abstractions.dll" />
            </Component>
            <Component Id="cmp53588C6807C1B86563E27444BF0EDFAE" Guid="{038A89A5-7977-4F57-9CA2-F27BC1BBFFAF}">
                <File Id="fil4D78A1A3051A38D0C3E1D9D83179FC06" KeyPath="yes" Source="$(var.BasePath)\Unity.Abstractions.pdb" />
            </Component>
            <Component Id="cmp665B78AB4AC844F961BF5ECBB81E189B" Guid="{D0ABC92B-5C09-438E-ACF2-EFCA3ED3B3F4}">
                <File Id="filA3C7419293ACF778143324C6DB73F920" KeyPath="yes" Source="$(var.BasePath)\Unity.Container.dll" />
            </Component>
            <Component Id="cmp94D99C7C3E837EE9C07A9AA8F88B168C" Guid="{8E6ED473-C41D-4EAD-B389-8D300838FB77}">
                <File Id="filF9013DA3D5AA0C05D1E7DA5E3D248A8B" KeyPath="yes" Source="$(var.BasePath)\Unity.Container.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmp0BFABD100B4065787B40AA6B05938DF7" />
            <ComponentRef Id="cmpB8E7B130B6B78399B39307530A3D65B2" />
            <ComponentRef Id="cmp0FB966002F85AF6212B7AD3DB5E1B405" />
            <ComponentRef Id="cmp6CF5CB56E3583D0EBD44D2BB10A62A27" />
            <ComponentRef Id="cmpB4A5CBF58E90C2BEEA430C866C5B5ABC" />
            <ComponentRef Id="cmp798C229BC500CCA9AF149379CBCD80AE" />
            <ComponentRef Id="cmp0232052F22BF7CECF0AE2011DF5A46B3" />
            <ComponentRef Id="cmp646930CA1885B8CA883A1241AEAC577D" />
            <ComponentRef Id="cmp0AD9E402E4A18E312CA414CD8DF3C456" />
            <ComponentRef Id="cmpF9033FEAD01015013837266F1D9A8829" />
            <ComponentRef Id="cmp20E5A82EE1F53BB560782568696E50EF" />
            <ComponentRef Id="cmp7193E8625499A1E57AB8F6FB639AF77E" />
            <ComponentRef Id="cmpDC19BA21EFF423B27F8787A2AB8F2B3C" />
            <ComponentRef Id="cmp04754E6B247B1DE3E945B1B46BD58909" />
            <ComponentRef Id="cmpC2B3CC4C105FBF588A9EBBD45742C349" />
            <ComponentRef Id="cmpFA73D1C72D56F21EECACF40A48113326" />
            <ComponentRef Id="cmp946145B53A7DCDFA822B0EFD2314FAB6" />
            <ComponentRef Id="cmpE6237F62F43D098EC6DC433850E77798" />
            <ComponentRef Id="cmp42CE9AE95732AA34478329FB9DE90B9C" />
            <ComponentRef Id="cmpB7F1EBE42DCB1051B92D42C1EF84E2F9" />
            <ComponentRef Id="cmpAF162B14FA6391E4D0D34D9485A3CBEB" />
            <ComponentRef Id="cmpAC2F6DB1E032C0CA24B3367FE667ED0A" />
            <ComponentRef Id="cmpACD38C6BE6A7E3B6F715ACDFD873B613" />
            <ComponentRef Id="cmpA5E215C9BBF1CAA9E046657ABBBDCC5D" />
            <ComponentRef Id="cmp1966D043A58A3F77508F609F750D13F3" />
            <ComponentRef Id="cmpA748C45814948C0E47F0962CF5A9E2C5" />
            <ComponentRef Id="cmp43B367B7670D98D184AF521921EF1F06" />
            <ComponentRef Id="cmp89F5F904B3CAF843A281A5A84D668E1E" />
            <ComponentRef Id="cmp8491F2481E2300963E07B506136E502E" />
            <ComponentRef Id="cmp642ED5B0D0BD1F16347D1310992C55A0" />
            <ComponentRef Id="cmpCA76CA3139BC1AFF84F4D7B62A0A2E50" />
            <ComponentRef Id="cmp89AE5ECEB789ECF60BE6CC568D60B2F9" />
            <ComponentRef Id="cmp7F4E1743772CD37619404A9AC36DC178" />
            <ComponentRef Id="cmpAFCF21A15F6EDA45A32D147050609285" />
            <ComponentRef Id="cmpC91BFEFF501F5C69C8F325CE32921C40" />
            <ComponentRef Id="cmpA79A142FCEA412B1ABBD7BE954692F65" />
            <ComponentRef Id="cmp08DDB4220E781B2C4E9BDB935987807A" />
            <ComponentRef Id="cmp5CC6136D6E2A90DE115411181360DDDC" />
            <ComponentRef Id="cmp09B1A6FC9DA6731B677129F755BF5DC8" />
            <ComponentRef Id="cmp98A131703008D3AC809721FE16EEAFF8" />
            <ComponentRef Id="cmp07C0EAF40E0F1DFA3B90970ACEA4FAA2" />
            <ComponentRef Id="cmpB8A7E5BEDFB4B8D0CC7AF759CF02E85C" />
            <ComponentRef Id="cmp788DA13C82090758458820A71F74702B" />
            <ComponentRef Id="cmpA5817A2BB296EF3C39CAFA8A07CD6B59" />
            <ComponentRef Id="cmpFF0F41562004EA077A4B84271D0ACCB7" />
            <ComponentRef Id="cmpB3AE432D48BF3A5AB43C6DAF12AB454A" />
            <ComponentRef Id="cmp6D1BF809CBAFF13493F3C31E9CCBBD48" />
            <ComponentRef Id="cmp3A99A623A71A716A198559E0C9D59400" />
            <ComponentRef Id="cmp3675421429B9A0E934C7B2D939AAF6EE" />
            <ComponentRef Id="cmpBEC715782490BD2AC6E2C93F2525865F" />
            <ComponentRef Id="cmp53588C6807C1B86563E27444BF0EDFAE" />
            <ComponentRef Id="cmp665B78AB4AC844F961BF5ECBB81E189B" />
            <ComponentRef Id="cmp94D99C7C3E837EE9C07A9AA8F88B168C" />
        </ComponentGroup>
    </Fragment>
</Wix>